.section {
    background-color: rgb(255, 255, 255);
    max-width: 900px;
}

.section__header {
    border-bottom: 2px solid rgb(233 233 233);
    padding: 20px;
    margin: 0px;
}

.section__headerSecondary {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 992px) {
    .section__headerSecondary {
        grid-template-columns: 1fr;
    }
}

.section__main {
    padding: 25px;
}

@media (max-width: 700px) {
    .form {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
}