.section {
    background-color: white;
    margin: 0;
    padding: 20px;
    box-shadow: 0px 0px 8px 1px rgb(226, 226, 226);
}

.section__header{
    font-size: 20px;
    padding: 10px;
    display: flex;
}

.section__field {
    padding: 10px;
}

.section__bar {
    display: grid;
    grid-template-columns: 1fr auto;
    border-bottom: solid 2px #eee;
}